<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rickroll Generator</title>
    <meta name="description" content="Create your own fake rich previews using the Rickroll generator." />

    {% if allow_ads %}
    <!-- Google Ads -->
    <script data-ad-client="ca-pub-3937748858301996" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% else %}
    <!-- No ads here-o 'cause you're a HERO -->
    {% endif %}
</head>
<body style="margin: 0; font-family: 'Menlo', monospace;">
    <img src="/static/rick.gif" style="width: 100%;max-height: 50vh;">
    <div style="text-align: center;">
        <h2>MAKE YOUR OWN RICKROLLS</h2>
        <form method="POST" action="{{ url_for('create_roll') }}"
            style="display: flex;justify-content: center;flex-flow: column;align-items: center;"
        >
            <input 
                type="text" name="title"
                placeholder="Title (max. 65 characters) REQUIRED" 
                maxlength="65" 
                style="width: 80%;margin-bottom: 10px;max-width: 40em;"
                required
                >
            <textarea 
                type="text" name="description"
                placeholder="Description (max 155 characters)" 
                maxlength="155" 
                style="width: 70%;height: 5em;margin-bottom: 10px;max-width: 35em;"
                ></textarea>
            <input 
                type="url" name="image"
                placeholder="Image url" 
                maxlength="1024" 
                style="width: 50%;margin-bottom: 10px;max-width: 25em;"
                >
            <input type="submit">
        </form>
    </div>
    <div>
        <div style="height: 350px;"></div>
        <div style="position: sticky;bottom: 15px;padding-top:15px;">
            <p>This website was made by <a href="http://noordstar.me/">Noordstar</a>.</p>
            <p>This code is open source! <a href="https://github.com/BramvdnHeuvel/Rickroll-Generator">Find the source code here.</a></p>
        </div>
    </div>
</body>
</html>
