<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New roll</title>
</head>
<body style="text-align: center;">
    <h1>Here's the link:</h1>
    <p>{{ domain }}{{ url_for('get_rickrolled', link=title) }}</p>
    <h1>Here's a shorter version of the link:</h1>
    <p>{{ domain }}{{ url_for('get_rickrolled', link=code) }}</p>
    <br>
    <h1>View here how many people you've rickrolled:</h1>
    <p>{{ domain }}/data{{ url_for('get_rickrolled', link=code) }}</p>
    <h1>Have fun!</h1>
    <p>
        <a href="{{ url_for('index') }}">Go back to main page.</a>
        -
        <a href="{{ url_for('get_rickrolled', link=title) }}">Try your link.</a>
    </p>
</body>
</html>