<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:type" content="website">

    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="{{ title }}">
    <meta property="twitter:title" content="{{ title }}">

    {% if description != None %}
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="twitter:description" content="{{ description }}" />
    {% endif %}
    {% if image != None %}
    <meta property="og:image" content="{{ image }}" />
    <meta property="twitter:image" content="{{ image }}" />
    {% endif %}
    
    <meta http-equiv="refresh" content="0; url = {{ domain }}/source/{{ link }}" />
</head>

<body>
    <p>Redirecting you to the right page...</p>

    <small style="position: absolute;bottom: 30px;">
        If you're still not redirected after a short while,
        <a href="https://youtu.be/dQw4w9WgXcQ">
            click here
        </a> for the link, and 
        <a href="{{ url_for('index') }}">
            here
        </a> to see how you got here.
    </small>
</body>

</html>