<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="font-size: 10em;margin-left: 5%;">{{ amount }}</h1>
    <p>That is how many times your Rickroll has been successful so far.</p>
    <p>Refresh to see if the number updated!</p>
    <div style="position: absolute;bottom: 0;">
        <p>Your link: <b>{{ domain }}/{{ link }}</b></p>
        <p><a href="{{ url_for('index') }}">Discover this website</a></p>
    </div>
</body>
</html>